@mixin font($font_name, $file_name, $weight, $style) {

@font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
}
}

@import "fonts";

// === Fonts ===
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
// === / Fonts ===
// === Mixin ===
@mixin montserrat {
    font-family: 'Montserrat', sans-serif;
}

@mixin roboto {
    font-family: 'Roboto', sans-serif;
}
// === / Mixin ===
// === Variables ===
$black: #070707;
$grey: #828282;
$light: #F6F6F6;
// === / Variables ===
// === Common ===
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.container {
    max-width: 100vw;

    &_full {
        height: 100vh;
        padding-top: 30px;
    }

    &_light {
        height: 500px;
        background-color: $light;
    }
}

.wrapper {
    margin: 0 250px;

    &_column {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
    }
}

// === / Common ===
// main page
.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;

    &__link {
        color: $grey;
        text-decoration: none;

        &:hover {
            color: $black;
        }
    }
}

.line {
    width: auto;
    height: 0;
    margin-top: 30px;
    color: $black;
    border: 1px solid #828282;
}

.info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 40px;
    color: $black;
}

.name {
    font-size: 47px;
    line-height: 59px;
}

.lang {
    font-size: 16px;
    transform: rotate(-90deg) translateX(28px) translateY(24px);

    & span {
        color: $grey;
    }
}

.photo {
    width: 100%;
    margin-top: 50px;
    // transform: scale(1.223) translateX(87px) translateY(24px);
}
// main page
// information
.header {
    margin-top: 80px;
    font-size: 34px;
    line-height: 42px;
    color: $black;
}

.text {
    margin-top: 50px;
    font-size: 18px;
    line-height: 22px;
}
// information
//skills
.showcase {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 80px;

    &__program {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-between;
    }

    &__icon {
        width: 80px;
        height: 80px;
        background: radial-gradient(76% 75.63% at 32.97% 22.42%, rgba(68, 47, 85, 0.98) 0%, #12002C 100%);

        & img {
            width: 80px;
            height: 80px;
        }
    }

    &__text {
        margin-top: 20px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}
//skills
